{% extends 'base.html' %}

{% block content %}
<div>
    <div class="row">
        <div class="col-4 offset-4">
            <h1 style="text-align: center;">To do list</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 offset-1">
            <form class="form-inline" action="{% url 'submit' %}" method="post">
                {% csrf_token %}
                {% for field in todoform %}
                <div class="form-group col-8 mx-sm-3 mb-2">
                    {{ field }}
                </div>
                {% endfor %}
                <button class="btn btn-primary mb-2" type="submit">OK</button>
            </form>
        </div>
    </div>

    {% for todo in todos %}
    {% if not todo.archive %}
    <div class="row">
        <div class="col-8 offset-1">
            <div class="card bg-light mb-4">
                <div class="card-header">{{ todo.post_date }}</div>
                <div class="card-body">
                    <p class="card-text">{{ todo.action_text }}</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-outline-danger" href="{% url 'delete' todo.id %}">Borrar</a>
                    <a class="btn btn-outline-success" href="{% url 'archive' todo.id %}">Archivar</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}